body{
    background-color:#202C36;
}
main{
    background-color:#202C36;
}
nav{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2A3743;
}
.fer{
    display: flex;
    align-items: center;
}
.fer button{
    color: white;
    /* background-color:#202C36; */
    background: none;
    border: none;
}
.ft{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.card{
    width: 270px;
    height: 300px;
    background-color: #2A3743;
    color: white;
}
.card a{
    text-decoration: none;
    color: aliceblue;
}
@media (max-width: 800px){
    .ft{
        flex-direction: column;
        display: block;

    }
    .card{
        margin-top: 20px;
        width: 270px;
        height: 300px;
    }
}
.img{
    position: absolute;
    width: 18px;
    height: 18px;
}
.ty{
    background-color:#2A3743;
    width: 450px;
    height: 56px;
    color: white;
    border: none;
}
.re{
    margin: 50px;
    display: flex;
    align-items: center;
}
.vsea{
    margin: 30px;
}
/* a{
    text-decoration: none;
    color: white;
} */
.section1{

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left img{
    width: 559px;
    height: 483px;
}
.right {
    width: 574px;
    height: 323px;

    color: white;
}
.fr{
    width: 207px;
    height: 160px;
}
.fr2{
    margin-left: 50px;
    width: 250px;
    height: 96px;
}
.ds{
    display: flex;
}